.myTop button,
.mui-bar.myTop{
 /* Safari 5.1 - 6.0 */
  background: -webkit-gradient(linear, 100% 0, 0 0, from(#FC6D03), to(#F67F16));
  background: -webkit-linear-gradient(right, #FC6D03, #F67F16);
  background: -moz-linear-gradient(right, #FC6D03, #F67F16);
  background: -o-linear-gradient(right, #FC6D03, #F67F16);
  background: linear-gradient(right, #FC6D03, #F67F16); /* Opera 11.1 - 12.0 */
 /* Firefox 3.6 - 15 */
 /* 标准的语法 */
}
.myTop a{
	color: #BA451A;
}

.myTop .mui-title{
	color: white;
	letter-spacing: 3px;
}
.myTop button{
	margin-top: 6px;
	border: 1px solid #F67F16;
	color: white;
}

.text-introduction{
	padding: 10px;
	margin: 0;
	color: #000;
	font-size: 15px;
}
.listImg span.font12{
	font-size: 12px;
}
.listImg img{
	border-radius: 50px;
}
.listImg .mui-media-body{
	padding-top: 12px;
}
.mui-grid-view.mui-grid-9.no-color{
	background-color: white;
}
.my-grid-9 img{
	width: 100%;
	
}
.mui-table-view.no-buttom:before,	
.mui-table-view.no-buttom:after{
	height: 0;
}
.mui-grid-view.mui-grid-9.no-buttom .mui-table-view-cell,
.mui-grid-view.mui-grid-9.no-buttom{
	border: none;
}
.wei-cont{
	background: white;
	margin-bottom: 10px;
}