body{
	background: #F1F1F1;
}
.nofull{
	width: 1190px;
	margin: auto;
}
.mytaobao li,
.enter li,
.left{
	float: left;
}
.enter li{
	padding: 0 5px;
}
li.red{
	color:orangered;
}
.mytaobao li{
	width: 60px;
}
.right{
	float: right;
}

.enter li:hover,
.mytaobao li:hover{
	background: white;
}
.mytaobao li>ul{
	margin-bottom: 5px;
}
.mytaobao li>ul li{
	margin: 2px 0;
}
.enter li>ul li:hover,
.mytaobao li>ul li:hover{
	background: red;
}
.top-nav{
	height: 35px;
	line-height: 35px;
	font-size: 13px;
}
.top-nav li{
	margin: 0 6px;
}
.pulldown{
	display: none;
	width: 80px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: white;
}
.my-area{
	height: 300px;
	bottom: -300px;
	overflow: auto;
}
.buy-person,
.mybaby,
.my-area li{
	float: none;
}
.buy-center li{
	width: 80px;
}
.mybaby li{
	width: auto;
}
.myservice li{
	width: auto;
}
.buy-center{
	height: 280px;
	bottom: -285px;
}
.myservice,
.mybaby,
.mybuy{
	height: 60px;
	bottom: -65px;
}
.contact-service,
.buy-person,
.mycollect,
.area,
.mytb-nav{
	position: relative;
}
.area span{
	width: 80px;
}
.area .my-area{
	width: 240px;
}
.area .mybaby li
.area .mybuy li{
	width: 150px;
	margin: 0px;
}

.mybuy li{
	float: none;
	width: 80px;
	
}
.full{
	width: 100%;
	background: white;
}
.top{
	padding-top: 30px;
	height: 99px;
}
.draw-slip{
	position: absolute;
	background: red;
	height: 300px;
	width: 15px;
	left: 225px;
	bottom: 0px;
}
.draw-bar{
	height: 100px;
	width: 15px;
	background: gray;
}
.web-nav{
	position: relative;
}
.web-nav-box{
	height: 340px;
	width: 1190px;
	background: yellow;
	position: absolute;
	right: 0;
	top: 35px;
}
.web-nav-ul{
	float: left;
	background: red;
	box-sizing: border-box;
	width: 25%;
	height: 340px;
}
