body{
	background:#080d27  url(../img/bg.png)no-repeat center top;
}

/*版权所有权*/
.copyright{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -512px;
	width: 1024px;
	text-align: center;
	color: #0468a1;
	line-height: 18px;
	font-size: 12px;
}
/*左上角的链接*/
.toplinks{
	position: absolute;
	top: 50px;
	left: 30px;
}
.toplinks a{
	color: #3ac1ff;
	line-height: 18px;
	font-size: 14px;
	padding: 0 10px;
	border-right: 1px solid #3ac1ff;
}
/*右边的那个什么导航*/
.right-nav{
	position: absolute;
	top: 50%;
	right: 5%;
	margin-top: -100px;
}
.right-nav li{
	width: 40px;
	height: 40px;
	/*border: 1px solid red;*/
	background: url(../img/nav.png);
}
/*中间的主要内容*/
.p0{
	width: 80%;
	height: 768px;
	border: 1px solid red;
	/*overflow: hidden;*/
	position: absolute;
	left: 10%;
	top: 50%;
	margin-top: -384px;
	background-image: url(../img/p0/p1_i_3.png);
	background-size: 100% 100%;
}
.p0 div{
	position: absolute;
}
.p0 .p0_i_2,.p0 .p0_i_2 img{
	width: 740px;
	height: 660px;
	
}
.p0 .p0_i_2{
	top: 50%;
	margin-top: -330px;
	left: 50%;
	margin-left: -370px;
}
.p0 .p0_t_1{
	top: 25%;
	left: 10%;
}
.p0 .p0_t_2{
	top: 40%;
	left: 30%;
}
