.score{
	width: 800px;
	/*height: 50px;*/
	/*line-height: 50px;*/
	text-align: center;
	background: gray;
	color: white;
	overflow: hidden;
}
.score span,
.score button{
	line-height: 50px;
}
.score .nowScore{
	float: left;
	padding: 0px 10px;
}
.score button{
	border: none;
	margin: 0;
	padding: 0 10px;
	float: right;
}
.cont{
	height: 600px;
	width: 800px;
	/*border: 1px solid red;*/
	background: yellow;
	position: relative;
}
.cont div{
	background: red;
	width: 10px;
	height: 10px;
	position: absolute;
}
.head{
	top: 50%;
	left: 50%;
}
